@import url('https://fonts.googleapis.com/css2?family=Archia:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif; /* Fuente principal */
  color: white;
}

.font-archia {
  font-family: 'Archia', sans-serif; /* Para elementos específicos */
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif; /* Para elementos que necesiten Open Sans */
}
