@import url('https://fonts.googleapis.com/css2?family=Archia:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: 'Archia', sans-serif;
}
